@font-face {
    font-family: "Mona Sans";
    src: url("../../public/Mona-Sans.ttf") format("woff2 supports variations"), url("../../public/Mona-Sans.ttf") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Mona Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    overflow: hidden;
}

.background {
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: -1;

    background-image: url("../../public/background.svg");
    background-repeat: repeat;
    background-color: rgb(26, 26, 29);
}